<div th:fragment="script" xmlns:th="">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/adminlte.min.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="tinymce/tinymce.min.js"></script>
    <script src="tinymce/config.js"></script>
    <script src="js/function.js"></script>
    <script src="js/updateProgress.js"></script>
    <script src="js/confrom.js"></script>
</div>